openapi: 3.1.0
info:
  title: Google Cloud Dialogflow CX Agents Flows API
  description: The Dialogflow CX API enables building and managing conversational agents with flows, pages, intents, entity types, and session management for advanced multi-turn conversations.
  version: 3.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/dialogflow/cx/docs
servers:
- url: https://dialogflow.googleapis.com/v3
  description: Google Cloud Dialogflow CX Production
tags:
- name: Flows
paths:
  /projects/{projectId}/locations/{location}/agents/{agentId}/flows:
    get:
      operationId: listFlows
      summary: Google Cloud Dialogflow CX List flows
      description: Lists all flows in an agent.
      tags:
      - Flows
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  flows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
    post:
      operationId: createFlow
      summary: Google Cloud Dialogflow CX Create a flow
      description: Creates a new flow within an agent.
      tags:
      - Flows
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
components:
  schemas:
    Flow:
      type: object
      properties:
        name:
          type: string
          description: Resource name of the flow.
        displayName:
          type: string
          description: Human-readable name of the flow.
        description:
          type: string
          description: Description of the flow.
        transitionRoutes:
          type: array
          items:
            type: object
            properties:
              intent:
                type: string
              condition:
                type: string
              targetPage:
                type: string
              targetFlow:
                type: string
        eventHandlers:
          type: array
          items:
            type: object
            properties:
              event:
                type: string
              targetPage:
                type: string
              targetFlow:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/dialogflow: Manage Dialogflow agents
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
